ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

div {
    display: inline-block
}

span[class="size-1"] {
    font-size: 0.833em
}

span[class="size-2"] {
    font-size: 0.833em
}

span[class="size-3"] {
    font-size: 0.742em
}

span[class="size-4"] {
    font-size: 0.648em
}

span[class="size-5"] {
    font-size: 0.622em
}

span[class="size+1"] {
    font-size: 1.289em
}

span[class="size+2"] {
    font-size: 1.389em
}

span[class="size+3"] {
    font-size: 1.481em
}

span[class="size+4"] {
    font-size: 1.574em
}

span[class="size+5"] {
    font-size: 1.667em
}

